* {
    margin: 0px;
}

html {
    font-family: Arial, sans-serif;
    color: #cecac3; 
}

#dropzone {
    box-sizing: border-box;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99999;

    background: rgba(0,0,0,.8);
    /* border: 11px dashed black; */
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

#videopanel {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background: #2c2c2c;
    width: 70vw;
    height: 70vh;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: background .5s;
}

#preview {
    /* object-fit: contain;  */
    width: 69vw;
    height: 69vh;
}

#timelinepanel {
    display: flex;
    flex-wrap: wrap;
    background: #2e2e2e;
    width: 70vw;
    height: 30vh;
    outline: 1px solid black;
}

#timelinecontainer {
    height: 80%;
    width: 100%;
    margin-right: 5%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background: #181818;
}

#timelinebarcontainer {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    height: 80%;
    width: 80%;
    background: #1f1f1f;
}

.timelinebar {
    bottom: 2vh;
    width: 100%;
    height: 3vh;
    margin-bottom: 10px;
    margin-top: 10px;
    /* position: absolute;
    left: 20%;
    right: 20px;
    top: 20%;
    height: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px; */ 
}

.audio {
    background: lime;
}

.video {
    background: blue;
}

#settingspanel {
    background: #222222;
    width: 30vw;
    height: 70vh;
    outline: 1px solid black;
}

#exportpanel {
    background: #1f1f1f;
    width: 30vw;
    height: 30vh;
    outline: 1px solid black;
}

.resolutionInput {
    background-color: #1f1f1f;
    width: 10vw;
    border-radius: 5px;
    border-color: #767676;
    color: white;
}

/*hide number box up-down buttons Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*hide number box up-down buttons Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
    background-color: #1f1f1f;
    color: white;
    border-radius: 5px;
}

#settingspanel * {
    margin-top: 1vh;
    margin-left: 1vw;
}

#exportpanel * {
    margin-top: 1vh;
    margin-left: 1vw;
}

#playbackcontrols {
    width: 100%;
    height: 20%;
}

.playHeadContainer {
    display: flex;
    width: 100%;
    height: 20%;
    /* margin-left: 20%; */
    /* margin-right: 2vw; */
    background: #1f1f1f;
}

#timestampContainer {
    align-items: center;
    text-align: center;
    background: #181818;
    width: 20%;
    height: 100%;
}

#timestampContainer p {
    font-size: 1.4vw;
    display: inline;
}

#playHeadHandleContainer {
    width: 80%;
    height: 100%
}

/* The slider itself */
#playHeadHandle {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* margin-left: 20%; */
    height: 100%;
    background: none;
    outline: 0;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#playHeadHandle::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 15px;
    background: white;
    cursor: pointer;
}

/* The slider itself */
/*#playHeadBar {
    -webkit-appearance: none;   Override default CSS styles 
    appearance: none;
    width: 100%;
    height: 100%;
    background: none;
    position: absolute;
}*/

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
/*#playHeadBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2px;
    height: 100%;
    background: black;
    cursor: default;
    position: absolute;
}*/

#playbackcontrols {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* #inOutControls {
    align-self: center;
} */

/* #videoControls {
    
} */

#masterVolumeSliderContainer {
    display: flex;
}

#masterVolumeIndicatorContainer {
    width: 15px;
}

#masterVolumeSlider {
    width: 9vw;
}

#trackcontrols {
    background: #181818;
    width: 20%;
    height: 80%;
}
